<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рентген-классификатор</title>
</head>
<body>
    <h1>Рентген-классификатор</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <label for="file">Загрузите изображение рентгенограммы:</label><br><br>
        <input type="file" id="file" name="file" accept="image/*"><br><br>
        <input type="submit" value="Предсказать класс">
    </form>

    <div id="result"></div>

    <script>
        document.querySelector('form').onsubmit = async function(event) {
            event.preventDefault();

            const formData = new FormData();
            const fileInput = document.querySelector('#file');
            formData.append('file', fileInput.files[0]);

            const response = await fetch('/', {
                method: 'POST',
                body: formData
            });

            const result = await response.json();
            document.getElementById('result').innerText = result.error || 'Предсказанный класс: ' + result.class;
        }
    </script>
</body>
</html>

